In [53]:
import pandas as pd
import numpy as np
import os
location='dataset'

In [54]:
files = [file for file in os.listdir (location) if file.endswith('.csv')]

In [55]:
files

['0.4 Wc+10% Silica.csv',
 '0.4Wc+ 10% GGBS.csv',
 '0.35 Nominal.csv',
 '0.45 Nominal.csv',
 '0.4 Nominal.csv',
 '0.4Wc+10% Fly Ash.csv',
 '0.3 Nominal.csv']

In [56]:
df_list = [pd.read_csv(os.path.join(location, file)) for file in files]

In [57]:
df_final = pd.concat(df_list, ignore_index=True)

In [58]:
df_final.drop(columns=['date', 'time'], inplace=True)

In [59]:
df_final_dummies = pd.get_dummies(df_final, columns=['Sample'], drop_first=True)

In [62]:
df_final_dummies

,temp,Ambient,Sample_0.35 Nominal,Sample_0.4 Nominal,Sample_0.4 Wc+10% Silica,Sample_0.45 Nominal,Sample_0.4Wc+ 10% GGBS,Sample_0.4Wc+10% Fly Ash,strength
0,29.94,25.00,False,False,True,False,False,False,0
1,29.94,27.63,False,False,True,False,False,False,0
2,30.00,27.69,False,False,True,False,False,False,0
3,30.00,27.75,False,False,True,False,False,False,0
4,30.00,27.81,False,False,True,False,False,False,0
...,...,...,...,...,...,...,...,...,...
460335,28.81,32.56,False,False,False,False,False,False,1
460336,28.81,32.56,False,False,False,False,False,False,0
460337,28.81,32.50,False,False,False,False,False,False,1
460338,28.81,32.56,False,False,False,False,False,False,0
460339,28.81,32.50,False,False,False,False,False,False,0

In [61]:
df_final_dummies['strength'] = np.random.randint(0, 2, size=len(df_final_dummies))

In [63]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score


# Separate features and target
X = df_final_dummies.drop('strength', axis=1)  # Features (9 columns)
y = df_final_dummies['strength']               # Target column

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Initialize and train logistic regression model
model = LogisticRegression(max_iter=1000)  # Increase max_iter if needed
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5016943997914585
Classification Report:
               precision    recall  f1-score   support

           0       0.50      0.29      0.36     45755
           1       0.50      0.71      0.59     46313

    accuracy                           0.50     92068
   macro avg       0.50      0.50      0.48     92068
weighted avg       0.50      0.50      0.48     92068

In [65]:
import joblib
joblib.dump(model, 'logistic_model.pkl')

['logistic_model.pkl']

In [66]:
df_final_dummies.columns

Index(['temp', 'Ambient', 'Sample_0.35 Nominal', 'Sample_0.4 Nominal',
       'Sample_0.4 Wc+10% Silica', 'Sample_0.45 Nominal',
       'Sample_0.4Wc+ 10% GGBS', 'Sample_0.4Wc+10% Fly Ash', 'strength'],
      dtype='object')

In [67]:
expected_col=['temp', 'Ambient', 'Sample_0.35 Nominal', 'Sample_0.4 Nominal',
       'Sample_0.4 Wc+10% Silica', 'Sample_0.45 Nominal',
       'Sample_0.4Wc+ 10% GGBS', 'Sample_0.4Wc+10% Fly Ash']

In [68]:
model = joblib.load('logistic_model.pkl')

In [107]:
new_data={
    'temp':[29.94],
    'Ambient':[25],
    'Sample_0.35 Nominal':[False],
    'Sample_0.4 Nominal': [False],
    'Sample_0.4 Wc+10% Silica':[False],
    'Sample_0.45 Nominal':[False],
    'Sample_0.4Wc+ 10% GGBS':[False],
    'Sample_0.4Wc+10% Fly Ash':[False]
    
}
# df_test=pd.DataFrame(new_data)
# df_test

In [108]:
col='Sample_0.30 Nominal'
if col in list(new_data.keys()):
    print(0)
    new_data[col]=[True]

In [109]:
new_data

{'temp': [29.94],
 'Ambient': [25],
 'Sample_0.35 Nominal': [False],
 'Sample_0.4 Nominal': [False],
 'Sample_0.4 Wc+10% Silica': [False],
 'Sample_0.45 Nominal': [False],
 'Sample_0.4Wc+ 10% GGBS': [False],
 'Sample_0.4Wc+10% Fly Ash': [False]}

In [111]:
df_to_pricict=pd.DataFrame(new_data)

In [112]:
model.predict(df_to_pricict)

array([0])